.header {
    color: black;
    position: fixed;
}

.header div {
    padding-top: 0px;
    margin-right: 20px;
    float: right;
}

li {
    display: inline;
    position: relative;
    top: 0px;
    right: 0px;
}
.footer {
    position: absolute;
    bottom: 0px;
    left: 900px;
}