* {
    margin:0;
    padding:0;  
}

header {
    position: fixed;
}

header,
footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: #678dc5;
}

h1 {
    position: relative;
    color: #ffffff;
}

footer {
    position: relative;
    margin-top: 30;
    bottom: 0;
    border-top: 10px solid #4F4846;
    border-bottom: 10px solid #4F4846;
    color: #FDF8F5;    
}

body {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #e7caa3;
    color: #4F4846;
}

section {
    margin-bottom: 0;
    padding: 20px 10px 40px 10px;
    border-top: 3px solid #3f9e6f;
    border-bottom: 3px solid #3f9e6f;
    background-color:  #e7caa3;
}

li {
    display: inline;
    padding: 20px;
    text-decoration: none;
}

img {
    size: 50px;
    max-width: 100%;
    max-height: 100%;
}

.lucca-pic {
    height: 500px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
a {
    text-decoration: none;
    color: #ffffff;
}

form {
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border-radius: 20px;
}

figure {
    margin-bottom: 10px;
    margin-top: 30px;
}

input {
    width: 500px;
}

button {
    height: 40px;
    width: 120px;
    background-color: #4F4846;
    color: #FDF8F5;
}
  
.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
}