* {
    margin:0;
    padding:0;  
}

header {
    position: fixed;
    border-bottom: 10px solid #5acc73;
}

header,
footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: #678dc5;
}

body {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #e26e2a;
    color: #4F4846;
}
  
.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}