.header {
    color: black;
    position: fixed;
}

.header div {
    padding-top: 0px;
    margin-right: 20px;
    float: right;
}

li {
    display: inline;
    position: relative;
    top: 0px;
    right: 0px;
}

.text-center {
    text-align: center;
}

.footer {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    border-bottom: 10px solid #4F4846;
    color: #FDF8F5; 
}

.next-time {
    text-align: center;
}